<body>
  <div class="container-scroller">
    <app-header></app-header>

    <div class="container-fluid page-body-wrapper">
      <app-slidebar></app-slidebar>
      <div class="main-panel">
        <div class="content-wrapper" style="background-color: #fff;">
          <!-- <select title="select" name="idcat" id="idcat" [(ngModel)]="idcat" class="form-select" size="3"
            aria-label="size 3 select example">
            <option *ngFor="let p of list; let i = index" value="{{ p.id }}">
              {{ p.name }}
            </option>
          </select> -->

          <div class="row">









            <!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
          </div>
          <br><br>

          <div class="input-group flex-grow-1" style="display: flex; justify-content: center;"> <span class="input-group-text"><i class="icon-search"></i></span>
            <input [(ngModel)]="term" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search"
              style="width: 30%;" aria-describedby="search" class="form-control col-sm-3">
          </div>


          <form [formGroup]="form">
            <div class="col-12" style="height: 0px;">





              <br /><br />

              <div class="form-group">





                <br />
                <br />
              </div>
              <br />
              <br />
            </div>
          </form>

          <br><br>
          <button type="button" title="button" class="btn btn-info btn-rounded btn-icon float-right" data-toggle="modal"
            data-target="#exampleModal">
            <i class="mdi mdi-plus"></i>
          </button>
          <br><br>

          <form></form>
            <div class="form-check">
              <table class="display expandable-table dataTable no-footer" style="width: 100%">
                <thead>
                  <tr>
                    <th></th>
                    <th class="border-bottom pb-2">Nom</th>
                    <th class="border-bottom pb-2">Prenom</th>
                    <th class="border-bottom pb-2">Matricule</th>
                    <th class="border-bottom pb-2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of memberslist| filter:term|paginate:{itemsPerPage:6,currentPage:c};  let i = index">
                    <!-- <td>
                      <input title="input" class="form-check-input" type="checkbox" value="{{ v.id }}" (click)="onevent($event)"
                        id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault"></label>
                    </td> -->
                    <td><img src="../../assets/images/images.jpeg" alt="" style="width: 40px;"></td>
                    <td class="pl-0">{{ v.lastname }}</td>
                    <td class="pl-0">{{ v.firstname }}</td>
                    <td class="pl-0">{{ v.matricule }}</td>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" (click)="deleteone(v.id)"
                        width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                      </svg>

                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="c=$event"></pagination-controls>


            </div>

            <button type="submit" class="btn btn-primary" (click)="update()">Modifier</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel" >Ajouter membres</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button> -->

                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="input-group flex-grow-1"> <span class="input-group-text"><i class="icon-search"></i></span>
                          <input [(ngModel)]="term" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search"
                            style="width: 70%;" aria-describedby="search" class="form-control col-sm-3">
                        </div>
                      </div>
                    </div>
                    <form [formGroup]="form">


                      <!--debut-->
                      <!-- <div class="form-check">
                          <table class="display expandable-table dataTable no-footer" style="width: 100%">
                            <thead>
                              <tr>
                                <th class="border-bottom pb-2">ajouter</th>
                                <th class="border-bottom pb-2">nom</th>
                                <th class="border-bottom pb-2">prenom</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let v of listdesemploye; let i = index">
                                <td>
                                  <input title="input" class="form-check-input" type="checkbox" value="{{ v.id }}" (click)="onevent($event)"
                                    id="flexCheckDefault" />
                                  <label class="form-check-label" for="flexCheckDefault"></label>
                                </td>
                                <td class="pl-0">{{ v.lastname }}</td>
                                <td class="pl-0">{{ v.firstname }}</td>
                              </tr>
                            </tbody>
                          </table>


                        </div> -->



                      <div>
                        <div *ngFor="let v of listemp| filter:term|paginate:{itemsPerPage:8,currentPage:c} ; let i = index">
                          <div class="form-check form-switch">
                            <div class="row">
                              <div style="width: 40px;"></div>
                              <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="{{ v.id }}"
                                (click)="onevent($event)">
                              <label class="form-check-label" for="mySwitch">matricule:{{v.matricule}} - nom:{{v.lastname}} {{v.firstname}} {{v.matricule}}</label>
                            </div>
                          </div>

                          <!-- <input title="input" class="form-check-input" type="checkbox" value="{{ v.id }}"
                            (click)="onevent($event)" id="flexCheckDefault" />
                          <label class="form-check-label" for="flexCheckDefault"></label>
                          {{v.id}} - {{v.lastname}} {{v.firstname}} {{v.matricule}} -->

                        </div>
                      </div>



                      <!--fin-->


                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="terminer()" data-dismiss="modal">terminer</button>
                  </div>
                </div>
              </div>
            </div>
            <!--fin modal-->



        </div>
      </div>
    </div>
  </div>
</body>
