<body>
  <div class="container-scroller">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper">
      <app-slidebar></app-slidebar>
      <div class="main-panel">
        <div class="content-wrapper" style="margin-top: 0%; padding-top: 0%;">
          <br><br>
          <div class="form-group">
            <!-- <button type="button" class="btn btn-info" [routerLink]="['/createtraining']">create</button>&nbsp;&nbsp; -->






            <!-- <label for="term">rechercher:</label> -->
            <!-- <div class="row">
              <input title="input" type="texte" style="width: 40%;" class="form-control" [(ngModel)]="term">
              <div style="text-align: right; width: min-content;">
                <button type="button" class="btn btn-info" [routerLink]="['/createdemande']">creer</button>
              </div>
            </div> -->


          </div>

          <div class="form-group">
            <div class="form-group">

              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <!-- <button class="nav-link active">Home</button> -->
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
                    role="tab" aria-controls="nav-profile" aria-selected="false" (click)="selectionne()">selectionné</button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
                    role="tab" aria-controls="nav-contact" aria-selected="false" (click)="nonselectionne()">non selectionne</button>
                </div>
              </nav>
              <div class="card">
                <div class="card-body">

                  <div class="row">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="input-group flex-grow-1"> <span class="input-group-text"><i class="icon-search"></i></span>
                        <input [(ngModel)]="term" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search"
                          style="width: 30%;" aria-describedby="search" class="form-control col-sm-3">
                      </div>
                      <!-- <button type="button" class="btn btn-info" [routerLink]="['/createtraining']">creer</button> -->
                      <button type="button" title="button" class="btn btn-info btn-rounded btn-icon" [routerLink]="['/createdemande']"
                        data-target="#exampleModal">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </div>
                  <br>

                  <p class="card-title mb-0">Liste des demande d'emploie</p>
                  <div class="form-group">
                    <table class="display expandable-table dataTable no-footer" style="width: 100%;">
                      <thead>
                        <tr>
                          <th class="pl-0  pb-2 border-bottom">Numero</th>
                          <th class="border-bottom pb-2">Condidat</th>


                          <th class="border-bottom pb-2">Description</th>
                          <th class="border-bottom pb-2">Etat</th>

                            <th class="border-bottom pb-2">Source</th>
                          <th class="border-bottom pb-2">Date</th>

                          <th class="border-bottom pb-2">Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let p of filteredlist | filter:term|paginate:{itemsPerPage:8,currentPage:c} ;let i=index">
                          <td class="pl-0">{{i+1}}</td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.condidat.nom}}</span></p>
                          </td>

                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.description}}</span></p>
                          </td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.etatdemandeemploie}}</span></p>
                          </td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.source}}</span></p>
                          </td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{Dates[i]}}</span></p>
                          </td>

                          <td class="text-muted">



                            <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" (click)="deleteone(p.id)"
                              width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                              <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                            &nbsp;&nbsp;&nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" [routerLink]="['/detaildemandeemploie',p.id]" width="16"
                              height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                              <path
                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                            &nbsp;&nbsp;&nbsp;

                            <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;"
                              [routerLink]="['/modifierdemandeemploie',p.id]" width="16" height="16" fill="currentColor"
                              class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                              <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>


                          </td>
                          <!-- <p class="mb-0"><span class="font-weight-bold mr-2">{{p.datedebut}}</span></p>
                                                                    </td>
                                                                    <td>
                                                                      <p class="mb-0"><span class="font-weight-bold mr-2">{{p.datefin}}</span></p>
                                                                    </td>
                                                                    <td>
                                                                      <p class="mb-0"><span class="font-weight-bold mr-2">{{p.description}}</span></p>-->
                        </tr>

                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="c=$event"></pagination-controls>

                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>


    </div>
  </div>

</body>


