<body>
  <div class="container-scroller">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper">
      <app-slidebar></app-slidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <!--debut-->
          <!-- <div class="form-check form-check-flat form-check-primary">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input">
    Remember me
    <i class="input-helper"></i></label>
</div> -->
  <div style="display: flex; justify-content: center;">
          <input title="input" type="texte" style="width: 40%;" class="form-control" [(ngModel)]="term" placeholder="Rechercher">
</div>
          <form>
            <div class="form-check">
              <table
                class="display expandable-table dataTable no-footer"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th class="border-bottom pb-2">Ajouter</th>
                    <th class="border-bottom pb-2">Nom</th>
                    <th class="border-bottom pb-2">Prenom</th>
                    <th class="border-bottom pb-2">Matricule</th>
                    <th class="border-bottom pb-2">Departement</th>
                    <th class="border-bottom pb-2">Site</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of listdesemploye| filter:term; let i = index">

                    <td>

<div class="form-switch " >
  <div class="row">
    <div style="width: 40px;"></div>
    <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="{{ v.id }}"
      (click)="onevent($event)" >
  </div>
</div>


                      <!-- <input
                        title="input"
                        class="form-check-input"
                        type="checkbox"
                        value="{{ v.id }}"
                        (click)="onevent($event)"
                        id="flexCheckDefault"
                      />
                      <label
                        class="form-check-label"
                        for="flexCheckDefault"
                      ></label> -->
                    </td>
                    <td class="pl-0">{{ v.lastname }}</td>
                    <td class="pl-0">{{ v.firstname }}</td>
                    <td class="pl-0">{{ v.matricule }}</td>
                    <td class="pl-0">{{ v.departement.name }}</td>
                    <td class="pl-0">{{ v.site.name }}</td>

                  </tr>
                </tbody>
              </table>
              <div style="text-align: right;">
                <button type="button" class="btn btn-info" [routerLink]="['/inscription']">créer</button>&nbsp;&nbsp;
              </div>

              <!-- <button type="submit" (click)="add()" class="btn btn-primary mr-2">Submit</button> -->
              <!-- <button title="button" (click)="add(v.id)">ajouter</button> -->

              <!-- <button type="submit" class="btn btn-primary mr-2"><div class="col-sm-6 col-md-4 col-lg-3">
      <i class="mdi mdi-account-check" style="color: blue;"></i>
    </div></button> -->
            </div>
          </form>

          <!--fin-->
        </div>
      </div>
    </div>
  </div>
</body>

