<body>
  <div class="container-scroller">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper">
      <app-slidebar></app-slidebar>
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="form-group">

            <!-- <h1 class="text-center text-sans-serif fw-bold">stage</h1> -->







            <!-- <button type="button" class="btn btn-info" [routerLink]="['/createtraining']">create</button>&nbsp;&nbsp; -->

            <!-- <label for="term">rechercher:</label>
            <div class="row">
              <div class="d-flex justify-content-between align-items-center">

                <div _ngcontent-pkk-c1="" class="input-group">
                  <div _ngcontent-pkk-c1="" id="navbar-search-icon" class="input-group-prepend hover-cursor"><span _ngcontent-pkk-c1=""
                      id="search" class="input-group-text"><i _ngcontent-pkk-c1="" class="icon-search"></i></span></div><input style="width: 30%;"
                    [(ngModel)]="term" _ngcontent-pkk-c1="" type="text" id="navbar-search-input" placeholder="Search now"
                    aria-label="search" aria-describedby="search" class="form-control">
                </div>

                <button type="button" class="btn btn-info float-right" [routerLink]="['/createtraining']">creer</button>
              </div>
            </div> -->

            <!-- <label for="term">rechercher:</label>
            <div class="row">
            <input title="input" type="texte" style="width: 40%;" class="form-control" [(ngModel)]="term">
              <div  style="text-align: right; width: min-content;" >
            <button  type="button" class="btn btn-info float-right" [routerLink]="['/createtraining']">creer</button>
              </div>
              </div> -->
          </div>

          <div class="form-group">
            <div class="form-group">
              <div class="form-group">
                <!-- <div class="input-group flex-grow-1"> <span class="input-group-text"><i class="icon-search"></i></span>
                  <input [(ngModel)]="term" type="text" id="navbar-search-input" placeholder="Search now"
                    aria-label="search" style="width: 30%;" aria-describedby="search" class="form-control col-sm-3">
                </div>
                <div style="text-align: right;">
                  <button type="button" class="btn btn-info" [routerLink]="['/createstage']">creer</button>&nbsp;&nbsp;
                </div> -->




              </div>
              <div class="card">
                <div class="card-body">


                  <div class="row">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="input-group flex-grow-1"> <span class="input-group-text"><i class="icon-search"></i></span>
                        <input [(ngModel)]="term" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search"
                          style="width: 30%;" aria-describedby="search" class="form-control col-sm-3">
                      </div>
                      <!-- <button type="button" class="btn btn-info" [routerLink]="['//createtrainingdemand']">creer</button> -->
                      <button type="button" title="button" class="btn btn-info btn-rounded btn-icon" [routerLink]="['/createstage']"
                        data-target="#exampleModal">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </div>
                  </div>
                  <br>

                  <p class="card-title mb-0">liste des stages</p>
                  <div class="form-group">
                    <table class="display expandable-table dataTable no-footer" style="width: 100%;">
                      <thead>
                        <tr>
                          <th class="pl-0  pb-2 border-bottom">Numero</th>
                          <th class="border-bottom pb-2">Stagiaire</th>
                          <th class="border-bottom pb-2">Encadrant</th>
                          <th class="border-bottom pb-2">Description</th>
                          <th class="border-bottom pb-2">Institut</th>
                          <th class="border-bottom pb-2">etat</th>
                          <!-- <th class="border-bottom pb-2">date debut</th>
                                          <th class="border-bottom pb-2">date fin</th>
                                          <th class="border-bottom pb-2">description</th>-->
                          <!-- <th class="border-bottom pb-2">etat</th>-->



                          <th class="border-bottom pb-2">action</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let p of lisTrainings | filter:term|paginate:{itemsPerPage:5,currentPage:c} ;let i=index">
                          <td class="pl-0">{{i+1}}</td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.stagiaire.nom}}</span></p>
                          </td>

                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.encadrant.username}}</span></p>
                          </td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.description_stage}}</span></p>
                          </td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.institut.nom}}</span></p>
                          </td>
                          <td>
                            <p class="mb-0"><span class="font-weight-bold mr-2">{{p.etat}}</span></p>
                          </td>

                          <td class="text-muted">



                            <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" (click)="deleteone(p.id)"
                              width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                              <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                            &nbsp;&nbsp;&nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;"
                              [routerLink]="['/updatestage',p.id]" width="16" height="16" fill="currentColor"
                              class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                              <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>


                          </td>
                          <!-- <p class="mb-0"><span class="font-weight-bold mr-2">{{p.datedebut}}</span></p>
                                                                    </td>
                                                                    <td>
                                                                      <p class="mb-0"><span class="font-weight-bold mr-2">{{p.datefin}}</span></p>
                                                                    </td>
                                                                    <td>
                                                                      <p class="mb-0"><span class="font-weight-bold mr-2">{{p.description}}</span></p>-->
                        </tr>

                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="c=$event"></pagination-controls>

                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>


    </div>
  </div>

</body>

