src/app/create-demande-emploie/create-demande-emploie.component.html

<body>
  <div class="container-scroller">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper">
      <app-slidebar></app-slidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <label for="poste">siciete</label>
          <div class="row">
            <select title="select" name="idcat" id="ids" [(ngModel)]="ids" class="form-control form-control-sm"
              style="width: 30%;">

              <option *ngFor="let p of listsociete ;let i=index" value={{p.id}}>{{p.nom}}</option>

            </select>


            <button type="button" title="button" class="btn btn-info btn-rounded btn-icon" data-toggle="modal"
              data-target="#exampleModal">
              <i class="mdi mdi-plus"></i>
            </button>


          </div>

          <label>condidat</label>
          <div class="row">
            <select title="select" name="idcat" id="idcat" [(ngModel)]="idc" class="form-control form-control-sm"
              style="width: 30%;">

              <option *ngFor="let p of listc ;let i=index" value={{p.id}}>{{p.nom}}</option>

            </select>


            <button type="button" title="button" class="btn btn-info btn-rounded btn-icon" data-toggle="modal"
              data-target="#exampleModal">
              <i class="mdi mdi-plus"></i>
            </button>


          </div>

          <!-- Button trigger modal -->


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter categorie</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nom</label>
                      <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp"
                        placeholder="Nom">

                    </div>
                    <br>
                    <br>



                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="creerCondidat()">Creer</button>
                </div>
              </div>
            </div>
          </div>
          <!--fin modal-->

          <form [formGroup]="form">
            <div class="form-group">
              <br>
              <label for="mode recruttement">Mode Recruttement</label>
              <select title="select" name="" formControlName="mode_recruttement" id="">
                <option>INTERNE</option>
                <option>EXTERNE</option>
              </select>
              <br>
              <label for="exampleInputEmail1">motif</label>
              <input title="input" type="text" class="form-control" style="width: 30%;" formControlName="motif"
                aria-describedby="emailHelp">

              <!-- <input type="text" class="form-control" formControlName="etat" aria-describedby="emailHelp" placeholder="etat"> -->


              <!-- <input type="text" class="form-control" formControlName="type" aria-describedby="emailHelp" placeholder="type"> -->




            </div>
            <br>
            <br>

            <button type="submit" class="btn btn-primary" (click)="update()">Ajouter</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</body>

