
<div class="container content">
  <div class="row test">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="card">
        <div class="card-header" (click)="toggleVisibility()">Chat</div>
        <div  *ngIf="isVisible" class="card-body height3">
          <ul class="chat-list">
            <li class="in">
              <div class="chat-img">
                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
  <p style="color: black;">{{ user }}</p>
              </div>


            <div class="chat-container">
              <div class="chat-body">
                <div *ngFor="let msg of messages" class="chat-message">
                
                  <p>{{ msg }}</p>
                  <!-- to do css -->
                  <div class="image-wrapper">
                    <img width="20" (click)="remove()" alt="Avatar" src="../../assets/images/croit rouge.png">
                  </div>
                </div>
              </div>
              <br><br>
              <form [formGroup]="form">
                <input formControlName="content" placeholder="Enter your message" />
                <button   style="background-color: #F89541" (click)="send()">Send</button>
              </form>
            </div>

            </li>
            <!-- <li class="out">
              <div class="chat-img">
                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
              </div>
              <div class="chat-body">
                <div class="chat-message">
                  <h5>Serena</h5>
                  <p>Next level veard</p>
                </div>
              </div>
            </li>
            <li class="in">
              <div class="chat-img">
                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
              </div>
              <div class="chat-body">
                <div class="chat-message">
                  <h5 class="name">Jimmy Willams</h5>
                  <p>Will stumptown scenes coffee viral.</p>
                </div>

              </div>

            </li> -->
            <!-- <li class="out">
              <div class="chat-img">
                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
              </div>
              <div class="chat-body">
                <div class="chat-message">
                  <h5>Serena</h5>
                  <p>Tofu master best deal</p>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>
