<body>
  <div class="container-scroller">
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper">
      <app-slidebar></app-slidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <label>departement</label>
          <div class="row">

            <select title="select" name="iddep" id="iddep" [(ngModel)]="iddep" class="form-control form-control-sm"
              style="width: 30%;">

              <option *ngFor="let p of listdep ;let i=index" value={{p.id}}>{{p.name}}</option>

            </select>

            <!-- <button type="button" title="button" class="btn btn-info btn-rounded btn-icon" routerLink="/createtraining">
  <i class="mdi mdi-plus"></i>
</button> -->
            <button type="button" title="button" class="btn btn-info btn-rounded btn-icon" data-toggle="modal"
              data-target="#exampleModal">
              <i class="mdi mdi-plus"></i>
            </button>


          </div>

          <!-- Button trigger modal -->


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ajouter Departement</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="form">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nom</label>
                      <input type="text" class="form-control" formControlName="dname" aria-describedby="emailHelp"
                        placeholder="Nom">

                    </div>
                    <br>
                    <br>



                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="creerdep()">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <!--fin modal-->

          <form [formGroup]="form">
            <div class="form-group">

              <label for="exampleInputEmail1">Poste</label>
              <input type="text" class="form-control" style="width: 30%;" formControlName="name"
                aria-describedby="emailHelp" placeholder="Nom">







              <br>
              <!-- <input type="text" class="form-control" formControlName="type" aria-describedby="emailHelp" placeholder="type"> -->
              <label for="exampleInputEmail1">Status</label>
              <br>
              <select class="form-select" aria-label="Default select example" title="select" formControlName="status" style="width: 30%;">

                <option value="VACANT">VACANT</option>
                <option value="EMBAUCHE">EMBAUCHE</option>
                <option value="SUSPENDU">SUSPENDU</option>
                <option value="ANNULE">ANNULE</option>
                <option value="ENCOURS">ENCOURS</option>
                <option value="TERMINE">TERMINE</option>


              </select>
              <br>

















            </div>
            <br>
            <br>

            <button type="submit" class="btn btn-primary" (click)="create()">Ajouter</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</body>
