<body>
  <div class="container-scroller">
    <app-header></app-header>

    <div class="container-fluid page-body-wrapper">
      <app-slidebar></app-slidebar>
      <div class="main-panel">
        <div class="content-wrapper">
          <select
            title="select"
            name="idcat"
            id="idcat"
            [(ngModel)]="idcat"
            class="form-select"
            size="3"
            aria-label="size 3 select example"
          >
            <option *ngFor="let p of list; let i = index" value="{{ p.id }}">
              {{ p.name }}
            </option>
          </select>

          <form [formGroup]="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Nom</label>
              <input
                type="text"
                class="form-control"
                formControlName="nom"
                aria-describedby="emailHelp"
                placeholder="Nom"
              />
              <label for="exampleInputEmail1">prix</label>
              <input
                type="number"
                class="form-control"
                formControlName="prix"
                aria-describedby="emailHelp"
                placeholder="prix"
              />
              <!-- <input type="text" class="form-control" formControlName="etat" aria-describedby="emailHelp" placeholder="etat"> -->
              <label for="exampleInputEmail1">etat</label>
              <br />
              <select
                title="select"
                formControlName="etat"
                class="form-select"
                size="3"
                aria-label="size 3 select example"
              >
                <option value="COMPLETE">COMPLETE</option>
                <option value="PS COMPLETE">PS COMPLETE</option>
              </select>
              <br />
              <!-- <input type="text" class="form-control" formControlName="type" aria-describedby="emailHelp" placeholder="type"> -->
              <label for="exampleInputEmail1">type</label>
              <br />
              <select
                title="select"
                formControlName="type"
                class="form-select"
                size="3"
                aria-label="size 3 select example"
              >
                <option value="INTERNE">INTERNE</option>
                <option value="EXTERNE">EXTERNE</option>
              </select>
              <br />
              <label for="exampleInputEmail1">nombre d'heure</label>
              <input
                type="number"
                class="form-control"
                formControlName="nbrhour"
                aria-describedby="emailHelp"
                placeholder="nbrhour"
              />
              <label for="exampleInputEmail1">date debut</label>
              <input
                type="date"
                class="form-control"
                formControlName="datedebut"
                aria-describedby="emailHelp"
                placeholder="datedebut"
              />
              <label for="exampleInputEmail1">date fin</label>
              <input
                type="date"
                class="form-control"
                formControlName="datefin"
                aria-describedby="emailHelp"
                placeholder="datefin"
              />
              <label for="exampleInputEmail1">Nom formateur</label>
              <input
                type="text"
                class="form-control"
                formControlName="nomformateur"
                aria-describedby="emailHelp"
                placeholder="nomformateur"
              />

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"
                  >description</label
                >
                <textarea
                  formControlName="description"
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <br />
            <br />

            <button type="submit" class="btn btn-primary" (click)="create()">
              Ajouter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
